$main-color: #FFF;
$text-color: #4D5562;
$number-color: #000000;
$selection-color: #5D5FEF;
$special-color: #F0F9FF;
$border-color: #E2E3E5;
$background-color: #E5E5E5;

%shadow{
    box-shadow: 0rem .3125rem .25rem 0 rgba(0, 0, 0, 0.15);
}

%wrapper{
    width: 100%;
    border-radius: .25rem;
    @extend %shadow;
    padding: .25rem;
    cursor: pointer;
}