.field {
    width: 43.4375rem;
    height: 40rem;
    padding: 2.375rem 5rem 5.375rem 4.75rem;
    display: flex;
    flex-direction: column;

    &__panel{
        margin-top: 1.875rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}