html {
    font-size: 20px;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100rem;
    padding: 0.625rem;
    font-family: Inter;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  @media (max-width: 1200px) {
    html {
      font-size: calc(100vw / 1200) * 20;
    }
  }
  